<h2>Customer orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Customer</th>
            <th>Phone</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let o of orders$ | async">
            <td>{{o.customerOrderId}}</td>
            <td>{{o.datePlaced}}</td>
            <td>{{o.customer.customerName}}</td>
            <td>{{o.customer.customerPhone}}</td>
            <td>{{o.orderStatus}}</td>
            <td>
                <a (click)="confirmOrder(o.customerOrderId)" class="btn btn-primary">Confirm</a>
            </td>
        </tr>
    </tbody>
</table>