<!-- <div class="container">
  <app-store></app-store>
  <p>Hello </p>
</div> -->

<!-- <div class="container head-title">
  <h4 class="display-4 text-center">OnlineStore</h4>
  <app-products></app-products>
</div>

<router-outlet></router-outlet> -->

<app-bs-navbar></app-bs-navbar>



<div class="container">
  <router-outlet></router-outlet>
</div>