<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">OnlineStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <!-- <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home</a>
                </li> -->
                <li *ngIf="isLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart">Shopping Cart <span
                            *ngIf="cart$ | async as cart">({{cart.totalItemsCount}})</span></a>
                    <!-- <i class="fa fa-shopping-cart" aria-hidden="true"></i> -->
                </li>

                <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="/registration">Registration</a>
                </li>

                <li *ngIf="!isLoggedIn()" class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>

                <li ngbDropdown class="nav-item dropdown ">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" id="dropdown01" data-bs-toggle="dropdown"
                        aria-expanded="false">{{getFullName()}}</a>
                    <ul ngbDropdownMenu class="dropdown-menu " aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" routerLink="/orders">My Orders</a></li>
                        <li><a class="dropdown-item" routerLink="/shippingAddressList">My Addresses</a></li>
                        <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/admin/orders">Admin Orders</a></li>
                        <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/admin/products">Admin Products</a>
                        </li>
                        <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex" wtx-context="DC3589CD-D07B-4EAD-8F68-11A72E4773FB">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                    wtx-context="2DA3150B-2A72-4761-8831-EDD1DA13FBC8">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>