<p>
    <input #query (keyup)="filter(query.value,min.value,max.value)" type="text" class="form-control"
        placeholder="Search...">
</p>

<p>
    <input #min (keyup)="filter(query.value,min.value,max.value)" type="number" class="form-control" placeholder="From">
    <input #max (keyup)="filter(query.value,min.value,max.value)" type="number" class="form-control" placeholder="To">
</p>

<div class="row">
    <ng-container *ngFor="let p of filteredProducts; let i=index">
        <div class="col" style="max-width: 18rem;">
            <app-product-card [product]="p"></app-product-card>
        </div>
        <div *ngIf="(i+1)%4===0" class="w-100"></div>
    </ng-container>
</div>