<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group">
                <label for="name">Name</label>
                <input #name="ngModel" [(ngModel)]="product.productName" name="productName" id="name" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid"> Name is required</div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input #description="ngModel" [(ngModel)]="product.productDescription" name="productDescription"
                    id="description" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="description.touched && description.invalid">Description required
                </div>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <div class="input-group">
                    <input #price="ngModel" [(ngModel)]="product.productPrice" name="productPrice" id="price"
                        type="number" class="form-control" required [min]="0">
                    <span class="input-group-text">Lei</span>
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid && price.errors">
                    <div *ngIf="price.errors.required">Price is required</div>
                    <div *ngIf="price.errors.min">Price should be 0 or higher</div>
                </div>
            </div>

            <div class="form-group">
                <label for="Stock">Stock</label>
                <input #stock="ngModel" [(ngModel)]="product.productStock" name="productStock" id="stock" type="number"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="stock.touched && stock.invalid">Stock is required</div>
            </div>

            <div class="form-group">
                <label for="imageUrl">Image Url</label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text"
                    class="form-control" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid && imageUrl.errors">
                    <div *ngIf="imageUrl.errors.required">Image URL is required</div>
                    <div *ngIf="imageUrl.errors.url">Please enter a valid URL</div>
                </div>
            </div>
            <button class="btn btn-primary">Save</button>
            <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <div class="col-md-6">
        <app-product-card [product]="product" [show-actions]="false"></app-product-card>
    </div>
</div>