<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
    <!-- <pre>
        {{ cart | json }}
    </pre> -->
    <p>
        You have {{ cart.totalItemsCount }} items in your cart.
        <button *ngIf="cart.cartItems.length" (click)="deleteAllCartItems()" class="btn btn-danger btn-sm">Clear
            Shopping
            Cart</button>
    </p>
    <table class="table">
        <thead style="background: #f0f0f0;">
            <tr>
                <th></th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th style="text-align: right;">Total Price</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- iterate over the all the items from the cart -->
            <tr *ngFor="let cartItem of cart.cartItems">
                <td><img *ngIf="cartItem.productInfo.imageUrl" src="{{cartItem.productInfo.imageUrl}}"
                        style="max-height: 3em;"></td>
                <td>
                    {{cartItem.productInfo.productName}}
                </td>
                <td>
                    {{cartItem.quantity}}
                </td>
                <td>
                    {{cartItem.productInfo.productPrice }}
                </td>
                <td style="text-align: right;">{{cartItem.total}}
                </td>
                <td style="text-align: left;">Lei</td>
                <td><button (click)="deleteCartItem(cartItem.cartItemId)" class="btn btn-primary">Delete</button></td>
            </tr>
        </tbody>
        <tfoot style="background: #f0f0f0;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <h5>Grand Total: </h5>
                </td>
                <td style="text-align: right;">{{cart.total}}</td>
                <td style="text-align: left;">Lei</td>
            </tr>
        </tfoot>
    </table>

    <a *ngIf="cart.cartItems.length" routerLink="/check-out" class="btn btn-primary ">Check Out</a>


</ng-container>