<h2>Shipping</h2>

<form f="ngForm" (ngSubmit)="placeOrder()">
    <div class="form-group">
        <label for="fullName">Deliver to</label>
        <input name="fullName" [value]="(customer$ | async)?.customerName" type="text" class="form-control" disabled>
        <label for="phone">Contact phone</label>
        <input name="phone" [value]="(customer$ | async)?.customerPhone" type="text" class="form-control" disabled>
    </div>

    <div class="form-group">
        <label for="address">Address</label><br>
        <select class="custom-select" (change)="changeAddress($event)" name="address" required>
            <option value="" disabled selected="selected">Choose your shipping address</option>
            <option *ngFor="let a of addresses$ | async" value="{{a.shippingAddressId}}">{{a.fullAddress}}</option>
        </select>
        <a routerLink="/shippingAddressList">Manage addresses</a>
        <div class="alert alert-danger" *ngIf="selectedAddressId == 0">
            <div>Please select an address</div>
        </div>
    </div>
    <br><br>
    <ng-container *ngIf="cart$ | async as cart">
        <table class="table">
            <thead style="background: #f0f0f0;">
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th style="text-align: right;">Total Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- iterate over the all the items from the cart -->
                <tr *ngFor="let cartItem of cart.cartItems">
                    <td><img *ngIf="cartItem.productInfo.imageUrl" src="{{cartItem.productInfo.imageUrl}}"
                            style="max-height: 3em;"></td>
                    <td>
                        {{cartItem.productInfo.productName}}
                    </td>
                    <td>
                        {{cartItem.quantity}}
                    </td>
                    <td>
                        {{cartItem.productInfo.productPrice }}
                    </td>
                    <td style="text-align: right;">{{cartItem.total}}
                    </td>
                    <td style="text-align: left;">Lei</td>
                </tr>
            </tbody>
            <tfoot style="background: #f0f0f0;">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <h5>Grand Total: </h5>
                    </td>
                    <td style="text-align: right;">{{cart.total}}</td>
                    <td style="text-align: left;">Lei</td>
                </tr>
            </tfoot>
        </table>
    </ng-container>

    <button class="btn btn-primary ">Place order!</button>
</form>