<div *ngIf="product.productName" class="card">
    <img *ngIf="product.imageUrl" src="{{product.imageUrl}}" class="card-img-top" alt="{{product.productName}}">
    <div class="card-body">
        <h5 class="card-title">{{product.productName}}</h5>
        <p class="card-text">{{product.productDescription}}</p>
        <p class="card-text">Price: {{product.productPrice}} <span> Lei</span></p>
        <p class="card-text">Stock {{product.productStock}}</p>
    </div>
    <div *ngIf="showActions" class="card-footer d-flex justify-content-center">

        <button (click)="addToCart(product)"
            class="btn btn-success btn-toolbar d-flex justify-content-center w-100 ">Add to cart</button>
        <!-- <div>{{getQuantity()}}</div> -->
    </div>


</div>