<div class="row">
    <div class="col-md-6">
        <form #f="ngForm" (ngSubmit)="save()">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input #name="ngModel" [(ngModel)]="customer.customerName" name="customerName" id="name" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="name.touched && name.errors?.required"> Name is required</div>
            </div>

            <div class="form-group">
                <label for="nickname">Username</label>
                <input #nickname="ngModel" [(ngModel)]="customer.nickname" name="nickname" id="nickname" type="text"
                    class="form-control" required>
                <div class="alert alert-danger" *ngIf="nickname.touched && nickname.errors?.required"> Username is
                    required</div>
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input #phone="ngModel" [(ngModel)]="customer.customerPhone" pattern="^0[0-9]{9}$" name="phone"
                    id="phone" type="string" class="form-control" required>
                <div class="alert alert-danger" *ngIf="phone.touched && phone.errors">
                    <div *ngIf="phone.errors.required">Phone is required</div>
                    <div *ngIf="phone.errors.pattern">Phone must be valid (0xxxxxxxxx)</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input #email="ngModel" [(ngModel)]="customer.customerEmail" name="customeremail" id="email" type="text"
                    class="form-control" email required>
                <div class="alert alert-danger" *ngIf="email.touched && email.errors">
                    <div *ngIf="email.errors.required"> Email is required</div>
                    <div *ngIf="email.errors.email">
                        Email must be a valid email address
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input #password="ngModel" [(ngModel)]="customer.password" name="password" id="password" type="password"
                    class="form-control" minlength="8" required>
                <div class="alert alert-danger" *ngIf="password.touched && password.errors">
                    <div *ngIf="password.errors.required"> Password is required</div>
                    <div *ngIf="password.errors.minlength">
                        Password must be at least 8 characters
                    </div>
                </div>
            </div>


            <button class="btn btn-primary">Register</button>
        </form>
    </div>
</div>