<p>
    <a routerLink="/shippingAddress/new" class="btn btn-primary">New Address</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Full Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of shipping$ | async">
            <td>{{a.fullAddress}}</td>
            <td>
                <a [routerLink]="['/shippingAddress', a.shippingAddressId]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>