<h2>Shipping</h2>

<form f="ngForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="">Full Address Name</label>
        <input #fullAddress="ngModel" name="fullAddress" [(ngModel)]="shipping.fullAddress" type="text"
            class="form-control" required>
        <div class="alert alert-danger" *ngIf="fullAddress.touched && fullAddress.invalid">
            <div *ngIf="fullAddress.errors?.required">Name is required.</div>
        </div>
    </div>

    <button class="btn btn-primary">Save</button>
    <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
    <!-- <button (click)="placeOrder()" class="btn btn-primary">Place Order</button> -->
</form>