<p>
    <a routerLink="new" class="btn btn-primary">New Product</a>
</p>

<p>
    <input #query (keyup)="filter(query.value)" type="text" class="form-control" placeholder="Search...">
</p>



<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.productName}}</td>
            <td>{{p.productDescription}}</td>
            <td>{{p.productPrice}}</td>
            <td>{{p.productStock}}</td>
            <td>
                <a [routerLink]="['/admin/products/', p.productId]">Edit</a>
            </td>
        </tr>
    </tbody>
</table>